<!-- <p>
    <mat-toolbar class="nav-bar">
        <a href=""> <span>Paramatma Movies</span></a>
        <span class="material-icons">movie</span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>

    </mat-toolbar>
    <mat-toolbar-row class="nav-bar">
        <a href="movie" id="upcoming">Upcoming Movies</a>
    </mat-toolbar-row>
</p> -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a href=""><span>Paramatma Movies</span></a>
    <!-- <mat-toolbar> -->
    <span class="material-icons">movie</span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    <!-- </mat-toolbar> -->

    <div class="navbar-nav ml-auto">
        <a href="movie" class="nav-item nav-link">Upcoming  Movies</a>
        <a href="now" class="nav-item nav-link">Now Playing Movies</a>
    </div>

</nav>
<!-- <router-outlet></router-outlet> -->